.copyright-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 15px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px 0px 0px 0px;
    animation-name: openFooterCR;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0, 0.82, 0.25, 1);
    user-select: none;
    -webkit-user-drag: none;
}

@keyframes openFooterCR {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }