.Modal-Prompt {
    z-index: 101;
    width: 60%;
    height: 20%;
    position: fixed;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-timing-function: cubic-bezier(0, 0.57, 0.57, 0.98);

    animation-name: ShowIn;
    animation-duration: 0.3s;
}

#Modal-Title {
    font-size: 20px;
}

#Modal-Description {
    text-align: center;
    height: 80px;
    overflow-y: overlay;
    word-break: break-all;
}

#Modal-ButtonContainer {
    display: inline-flex;
    right: 20px;
    position: absolute;
    bottom: 10px;
}

#Modal-ButtonReject {
    padding: 5px;
    cursor: pointer;
}

#Modal-ButtonAccept {
    padding: 5px;
    cursor: pointer;
}

.Modal-BG {
    position: fixed;
    background-color: #00000080;
    width: 100%;
    height: 100%;
    animation-timing-function: cubic-bezier(0, 0.57, 0.57, 0.98);
    animation-name: ShowInBG;
    animation-duration: 0.3s;
}