body {
  background-color: #d8d8d8;
  font-family: 'Nunito', sans-serif;
}

@media print {
  html, body {
     display: none;  /* hide whole page */
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #616161; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(124, 124, 124); 
}

/*@media (prefers-color-scheme: dark) {
  body {
      background-color: #333333;
  }
}*/